<div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

          <h1 class="my-4">Welcome To The Blog
          </h1>

          <!-- Blog Post -->
          {{#each posts}}
              <div class="card mb-4">
                {{!-- <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap"> --}}
                <div class="index-post card-body">
                  <h2 class="card-title">{{title}}</h2>
                  <p id="post-description" class="card-text">{{description}}</p>
                  <a href="/post/{{_id}}" class="btn btn-primary">Read More &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                  Posted by
                  <a href="#">{{user.firstName}}</a>
                </div>
              </div>
          {{/each}}
          

          

          <!-- Pagination -->
          

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          
          

          <!-- Categories Widget -->
          <div class="card my-4">
            <h5 class="card-header">Topics</h5>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6 offset-lg-3">
                  <ul class="list-unstyled mb-0">
                    {{#each topics}}
                        <li>
                          <a href="#">{{title}}</a>
                        </li>
                    {{/each}}
                    
                    
                  </ul>
                </div>
              </div>
            </div>
          </div>


        </div>

      </div>