<div class="container">
    <div class="alert alert-secondary text-center">
        <h1>All Your Posts</h1>
    </div>

    <table class="table table-bordered">
        <thead class="bg-dark text-center">
            <tr class="text-white">
                <th>Title</th>
                <th>Description</th>
                <th>Topic</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody class="text-center">
        {{#each posts}}
            <tr>
                <td>{{title}}</td>
                <td>{{description}}</td>
                <td>{{topic.title}}</td>
                <td>{{status}}</td>
                <td>
                    <a href="/admin/posts/edit/{{_id}}" class="btn btn-warning btn-sm">Edit</a>
                    <button id="{{_id}}" class="btn btn-sm btn-danger deletePost">Delete</button>
                    {{!-- <a href="/admin/posts/delete/{{_id}}" class="btn btn-danger btn-sm">Delete</a> --}}

                    
                </td>
            </tr>
        {{/each}}
        
        </tbody>
    </table>
</div>